
.home{
 transition: ease-in 0.5s;
 background-size: cover;
 background-position: center;
 position: relative;
 overflow-y: hidden;
 overflow-x: hidden;
  margin-top: -5rem;
}


  .showcase {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 10% repeat(3, minmax(5rem, 1fr)) 10%;
    grid-template-rows: 1fr 2fr 1fr;
    position: relative;
   
#move-t
 {
  position: absolute;
  width: 40vw;
  left: -1000px;
  top:-150px;

  height: auto;
  z-index: -1;
  transform: rotate(30deg);
  transition: 0.5s all;
  img{
    transition:  0.5s all;
  }
}
.hello{
  transform: rotate(100deg);
}
  
    h2 {
      grid-column: 2/3;
      align-self: flex-end;
    }
    img {
      grid-row: 2/3;
      grid-column: 3/4;
      height: 130%;
      object-fit: cover;
      align-self: center;
      justify-self: center;
    }
    .info {
      grid-column: 4/5;
      grid-row: 3/4;
      h3 {
        padding-bottom: 3rem;
      }
    }
  }
  