.service-1{
  display: grid; 
 grid-template-columns: 1fr 1fr;
 height: 100%;
 width: 100%;
  background-color:#2f3030 ;
  gap: 5rem;
  div{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    img{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    h2{
      text-align: center;
      color: $primaryColor;
    }
    h1{
      color: $primaryColor;
    }
    
  }
  padding: 10rem;
}

@media screen and (max-width:900px) {
  .service-1{
grid-template-columns: 1fr;
    div{
      text-align: justify;
      width: 100%;
      padding-top: 5rem;
      img{
       
width: 100%;
      }
    }
    padding: 5rem;
  }
}

.service-2{
  display: grid; 
 grid-template-columns: 1fr 1fr;
 height: 100%;
 width: 100%;
 gap: 5rem;
  background-color:#2f3030 ;
  div{
    width: 100%;
    display: flex;
    justify-content: center;
   
    flex-direction: column;
    img{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    h2{
      text-align: center;
      color: $primaryColor;
    }
    h1{
      color: $primaryColor;
    }
  }
padding: 10rem;
}

@media screen and (max-width:900px) {
  .service-2{
    
grid-template-columns: 1fr;

    div{
      text-align: justify;
      width: 100%;
      padding-top: 5rem;
      
    }
    .img{
     grid-row:1/2;
    }
   padding: 5rem;
  }
}